@media screen and (max-width:600px){
  body {
		display: flex;
		flex-direction: column;
		margin: 0;
		width: 100%;
	}
  main {
    background-color: #CC3300;
  }
	.name {
		display: flex;
		justify-content: center;
	}
	.navigation{
		display: flex;
		flex-direction: column;
		padding: 0px 0px 10px 0px;
	}
	#comments {
/*		order: 1;*/
    margin-bottom: 30px;
	}
/*
  #mainer{
    padding-left: 50px;
  }
*/
}

@media screen and (min-width : 600px) {
	body {
		display: flex;
		flex-direction: column;
	}
	.navigation {
		display: flex;
		justify-content: space-around;
	}
  #mainer{
    padding-left: 0px;
  }
  #comments {
    margin-bottom: 0px;
	}
}

header {
  width: 100%;
  height: auto;
/*  padding: 15px 24px 0px 15px;*/
  padding-top: 15px;
/*
  margin-left: -8px;
  margin-top: -8px;
*/
  color: saddlebrown;
  margin-bottom: -16px;
  background-color: antiquewhite;
  border-bottom: 1px solid #FF9900;
}

footer {
  width: 100%;
  margin:0;
  height: auto;
/*padding-left: 28px;*/
  background-color: antiquewhite;
  text-align: center;
}
#mainer {
	background-color: antiquewhite;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	margin-top: 15px;
	max-width: 960px;

}
.navigation{
  background-color: bisque;
  height: auto;
  margin: 0;
  align-items: center;
}

body {
  background-image: url(bg.jpg);
  background-attachment: fixed;
  background-color:#202020;
  margin: 0;
  font-family: serif, "Times new Roman";
  align-items: center;
}
#comments{
  background-color: burlywood;
}
.name{height: 50px;
	max-width: 960px;
	padding: 10px;}

#logo {
  float:left;
  padding-right: 100px;
  padding-left: 20px;
  height: 85px;
  width: 140px;
}

#about {
  margin: 0;
}
.abouta{
  font-size: 1.6em;
  text-align: center;
  padding-left: 2em;
  padding-right: 2em;  
}
.abouta:hover{
  background-color: antiquewhite;
}
#address {
  margin: 10px 10px 20px 10px;
  font-size: 1.25em;
  text-align: center;
}
#params{
  background-color: bisque;

}
#devices{
  max-width: 40%;
	float:right;
  margin-right: 5px;
}

#parafoil{
  max-width: 40%;
  float:left;
  margin-left: 5px;
}

form{
  text-align: center; 
  font-size: 1.5em;
}

a {
  color: green;
}

a:hover {
  color: limegreen;
}


h2 {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}
input{
  font-size: 0.85em;
}
#summa{
  font-size: 1.5em;
  margin: 0 auto;
}

.kard{
    border: 3px solid black;
    
}
